/* konsistensi utama */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

/* style untuk navbar */
.navbar {
    background-color: #772289 !important;
    border-bottom: 3px solid #00f0ff;
    }

.navbar-brand {
    color: #f8e602 !important;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #f4d5fd !important;
}

.navbar-nav .nav-link:hover {
    color: #00f0ff !important;
}

/* Custom Card */
.card {
    background-color: #2b0b3d;
    border: 1px solid #00f0ff;
    color: #f4d5fd;
}

/* Tombol Search */
.btn-outline-success {
    background-color: #f8e602;
    color: #000;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-outline-success:hover {
    background-color: #4bff21;
    color: #000;
}

/* Custom Input Search */
.form-control {
    background-color: #1a0121 !important;
    border: 2px solid #00f0ff !important;
    color: #f4d5fd !important;
}

/* Warna teks placeholder */
.form-control::placeholder {
    color: #f4d5f9;
    opacity: 1;
}

.form-control:focus {
    background-color: #0d0211 !important;
    border-color: #4bff21 !important;
    box-shadow: 0 0 10px #4bff21 !important;
    color: #fff !important;
}

/* style untuk body */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #0d0211;
    color: white;
    margin-bottom: 50px;
    margin-top: 70px;
    }

/*content layout*/
#content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #772289;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

#footer {
    text-align: center;
    padding: 10px;
    border-top: 3px solid #4bff21;
    background-color: #1a0121;
    color: #f4d5fd;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    }

@media (max-width: 600px) {
    #content {
        padding: 10px;
    }
    }